---
import Layout from "../../layouts/Layout.astro";
import { intorConfig } from "../../i18n/intor-config";
import { getTranslator } from "intor/server";

export async function getStaticPaths() {
  return intorConfig.supportedLocales.map((locale) => ({ params: { locale } }));
}

const { locale } = Astro.params;

const { t, tRich } = await getTranslator(intorConfig, { locale });
---

<Layout locale={locale}>
  <p>{t("hello", { name: "Intor" })}</p>

  <p set:html={tRich("rich", { tag: (children) => `<b>${children}</b>` })} />

  <a href="/en">en</a>
  <a href="/fr">fr</a>
</Layout>
